extends ../layout.jade

block content         

	h1= item['name']

	h3 Courses 

	each course in item['Courses']
		div.row
			p Title: #{course.title} - #{course.subject}#{course.number} Term: #{course.yearTerm} Average Grade: #{course.avgInstructor}