extends ../layout.jade

block content         

    div.row
        div.one.column
            b= "Year"
        div.one.column
            b= "Term"
        div.two.columns
            b= "Course"
        div.four.columns
            b= "Instructor"
        div.three.columns
            b= "Ratings"

    each item in courses
        div.row
            div.one.column
                include field_year
            div.one.column
                include field_term
            div.two.columns
                include field_name
            div.four.columns
                include field_instructors
            div.three.columns
                include field_ratings

